 /* FIBAQ 2025 - Global Form - Cativo */
.single-mec-events.mec-category-id-74 .mec-book-tickets-reg-fields-container > [class*="mec-book-field-"]:has( :is( [name="book[tickets][0][reg][14]"] ) )::after {
  	content: var(--pb-mec-alert-text-age-limit-pt);
}

.wpml-lang-en.single-mec-events.mec-category-id-80 .mec-book-tickets-reg-fields-container > [class*="mec-book-field-"]:has( :is( [name="book[tickets][0][reg][14]"] ) )::after {
	content: var(--pb-mec-alert-text-age-limit-en);
}


.single-mec-events.mec-category-id-74 .mec-book-tickets-reg-fields-container > [class*="mec-book-field-"]:has( :is( [name="book[tickets][0][reg][26]"] ) )::after {
	content: var(--pb-mec-alert-text-responsible-adult-pt);
	white-space: pre-line;   /* or: pre-wrap */
	display: block;
}

.wpml-lang-en.single-mec-events.mec-category-id-80 .mec-book-tickets-reg-fields-container > [class*="mec-book-field-"]:has( :is( [name="book[tickets][0][reg][26]"] ) )::after {
	content: var(--pb-mec-alert-text-responsible-adult-en);
}


/* Donation Section */



@media screen and (min-width: 768px) {
  /* col 2 */
  /* FIBAQ 2025 - 'Global' Form */
  .single-mec-events:is(.mec-category-id-78, .wpml-lang-en.mec-category-id-79) .mec-book-tickets-reg-fields-container > [class*="mec-book-field-"]:has(
		:is(
			[name="book[tickets][0][name]"], /* name */
			[name="book[tickets][0][email]"], /* email */

			[name="book[tickets][0][reg][26]"], /* billing - vat */
			[name="book[tickets][0][reg][2]"],  /* telephone */
			[name="book[tickets][0][reg][14]"], /* age */
			[name="book[tickets][0][reg][15]"], /* weight */

			/* donation receipt */
			[name="book[tickets][0][reg][24]"], /* donation billing - name */
			[name="book[tickets][0][reg][25]"] /* donation billing - vat */
		)
	),

	/* FIBAQ 2025 - 'Cativos' Form */

  /* FIBAQ 2025 - Alter do Chão  – Voo Cativo */
  .single-mec-events:is(.mec-category-id-74.postid-15004, .wpml-lang-en.mec-category-id-80.postid-15238) .mec-book-tickets-reg-fields-container > [class*="mec-book-field-"]:has(
		:is(
			[name="book[tickets][0][name]"], /* billing - name */
			[name="book[tickets][0][reg][26]"], /* billing - vat */

			[name="book[tickets][0][email]"],
			[name="book[tickets][0][reg][2]"], /* tel */
			[name="book[tickets][0][reg][14]"] /* age */
			[name="book[tickets][0][reg][34]"], /* emergency contact */

			/*[name="book[tickets][0][reg][31]"],*/ /* responsible adult name */
			[name="book[tickets][0][reg][32]"], /* responsible adult vat */
			[name="book[tickets][0][reg][33]"], /* responsible adult parenthood */

			/* donation receipt */
			[name="book[tickets][0][reg][24]"], /* donation billing - name */
			[name="book[tickets][0][reg][25]"] /* donation billing - vat */
		)
	),

  /* FIBAQ 2025: Fronteira - Voo Cativo */
  .single-mec-events.mec-category-id-74.postid-14764 .mec-book-tickets-reg-fields-container > [class*="mec-book-field-"]:has(
		:is(
			[name="book[tickets][0][name]"], /* billing - name */
			[name="book[tickets][0][reg][27]"], /* billing - vat */

			[name="book[tickets][0][email]"],
			[name="book[tickets][0][reg][2]"], /* tel */
			[name="book[tickets][0][reg][14]"] /* age */
			[name="book[tickets][0][reg][32]"], /* emergency contact */

			/*[name="book[tickets][0][reg][26]"],*/ /* responsible adult name */
			[name="book[tickets][0][reg][28]"], /* responsible adult vat */
			[name="book[tickets][0][reg][31]"], /* responsible adult parenthood */

			/* donation receipt */
			[name="book[tickets][0][reg][24]"], /* donation billing - name */
			[name="book[tickets][0][reg][25]"] /* donation billing - vat */
		)
	),
  /* FIBAQ 2025: Monforte – Voo Cativo */
  .single-mec-events.mec-category-id-74.postid-14763 .mec-book-tickets-reg-fields-container > [class*="mec-book-field-"]:has(
		:is(
			[name="book[tickets][0][name]"], /* billing - name */
			[name="book[tickets][0][reg][27]"], /* billing - vat */

			[name="book[tickets][0][email]"],
			[name="book[tickets][0][reg][2]"], /* tel */
			[name="book[tickets][0][reg][14]"], /* age */
			[name="book[tickets][0][reg][32]"], /* emergency contact */

			/*[name="book[tickets][0][reg][28]"],*/ /* responsible adult name */
			[name="book[tickets][0][reg][29]"], /* responsible adult vat */
			[name="book[tickets][0][reg][31]"], /* responsible adult parenthood */

			/* donation receipt */
			[name="book[tickets][0][reg][24]"], /* donation billing - name */
			[name="book[tickets][0][reg][25]"] /* donation billing - vat */
		)
	),
	  /* FIBAQ 2025: Fundação Abreu Callado – Voo Cativo */
  .single-mec-events.mec-category-id-74.postid-14762 .mec-book-tickets-reg-fields-container > [class*="mec-book-field-"]:has(
		:is(
			[name="book[tickets][0][name]"], /* billing - name */
			[name="book[tickets][0][reg][27]"], /* billing - vat */

			[name="book[tickets][0][email]"],
			[name="book[tickets][0][reg][2]"], /* tel */
			[name="book[tickets][0][reg][14]"], /* age */
			[name="book[tickets][0][reg][31]"], /* emergency contact */
			
			/*[name="book[tickets][0][reg][28]"],*/ /* responsible adult name */
			[name="book[tickets][0][reg][29]"], /* responsible adult vat */
			[name="book[tickets][0][reg][30]"], /* responsible adult parenthood */

			/* donation receipt */
			[name="book[tickets][0][reg][24]"], /* donation billing - name */
			[name="book[tickets][0][reg][25]"] /* donation billing - vat */
		)
	),
		  /* FIBAQ 2025: Montargil – Voo Cativo */
  .single-mec-events.mec-category-id-74.postid-14761 .mec-book-tickets-reg-fields-container > [class*="mec-book-field-"]:has(
		:is(
			[name="book[tickets][0][name]"], /* billing - name */
			[name="book[tickets][0][reg][27]"], /* billing - vat */

			[name="book[tickets][0][email]"],
			[name="book[tickets][0][reg][2]"], /* tel */
			[name="book[tickets][0][reg][14]"], /* age */
			[name="book[tickets][0][reg][31]"], /* emergency contact */

			/*[name="book[tickets][0][reg][28]"],*/ /* responsible adult name */
			[name="book[tickets][0][reg][29]"], /* responsible adult vat */
			[name="book[tickets][0][reg][30]"], /* responsible adult parenthood */

			/* donation receipt */
			[name="book[tickets][0][reg][24]"], /* donation billing - name */
			[name="book[tickets][0][reg][25]"] /* donation billing - vat */
		)
	),
			  /* FIBAQ 2025: Ponte de Sor – Voo Cativo */
  .single-mec-events.mec-category-id-74.postid-14759 .mec-book-tickets-reg-fields-container > [class*="mec-book-field-"]:has(
		:is(
			[name="book[tickets][0][name]"], /* billing - name */
			[name="book[tickets][0][reg][27]"], /* billing - vat */

			[name="book[tickets][0][email]"],
			[name="book[tickets][0][reg][2]"], /* tel */
			[name="book[tickets][0][reg][14]"], /* age */
			[name="book[tickets][0][reg][31]"], /* emergency contact */

			/*[name="book[tickets][0][reg][28]"],*/ /* responsible adult name */
			[name="book[tickets][0][reg][29]"], /* responsible adult vat */
			[name="book[tickets][0][reg][30]"], /* responsible adult parenthood */

			/* donation receipt */
			[name="book[tickets][0][reg][24]"], /* donation billing - name */
			[name="book[tickets][0][reg][25]"] /* donation billing - vat */
		)
	) {
	--coln: 2;
  }

  /* col 3 */
  /* FIBAQ 2025 - Alter do Chão  – Voo Cativo */
  .single-mec-events:is(.mec-category-id-74.postid-15004, .wpml-lang-en.mec-category-id-80.postid-15238) .mec-book-tickets-reg-fields-container > [class*="mec-book-field-"]:has(
		:is(
				[name="book[tickets][0][email]"],
				[name="book[tickets][0][reg][2]"], /* tel */
				[name="book[tickets][0][reg][14]"] /* age */
		)
	),
	
	/* FIBAQ 2025: Fronteira - Voo Cativo */
	.single-mec-events.mec-category-id-74.postid-14764 .mec-book-tickets-reg-fields-container > [class*="mec-book-field-"]:has(
		:is(
				[name="book[tickets][0][email]"],
				[name="book[tickets][0][reg][2]"], /* tel */
				[name="book[tickets][0][reg][14]"] /* age */
		)
	),
	/* FIBAQ 2025: Monforte – Voo Cativo */
	.single-mec-events.mec-category-id-74.postid-14763 .mec-book-tickets-reg-fields-container > [class*="mec-book-field-"]:has(
		:is(
				[name="book[tickets][0][email]"],
				[name="book[tickets][0][reg][2]"], /* tel */
				[name="book[tickets][0][reg][14]"] /* age */
		)
	),
	/* FIBAQ 2025: Fundação Abreu Callado – Voo Cativo */
	.single-mec-events.mec-category-id-74.postid-14762 .mec-book-tickets-reg-fields-container > [class*="mec-book-field-"]:has(
		:is(
				[name="book[tickets][0][email]"],
				[name="book[tickets][0][reg][2]"], /* tel */
				[name="book[tickets][0][reg][14]"] /* age */
		)
	),
	/* FIBAQ 2025: Montargil – Voo Cativo */
	.single-mec-events.mec-category-id-74.postid-14761 .mec-book-tickets-reg-fields-container > [class*="mec-book-field-"]:has(
		:is(
				[name="book[tickets][0][email]"],
				[name="book[tickets][0][reg][2]"], /* tel */
				[name="book[tickets][0][reg][14]"] /* age */
		)
	),
	/* FIBAQ 2025: Ponte de Sor – Voo Cativo */
	.single-mec-events.mec-category-id-74.postid-14759 .mec-book-tickets-reg-fields-container > [class*="mec-book-field-"]:has(
		:is(
				[name="book[tickets][0][email]"],
				[name="book[tickets][0][reg][2]"], /* tel */
				[name="book[tickets][0][reg][14]"] /* age */
		)
	) {
	--coln: 3;
  }
}
